.filters__container,
.filters__items-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.filters__item {
    position: relative;
    flex: 1;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; */
    background: url('../img/icons/select-list-icon.svg') no-repeat right 20px center;
    /* outline: none;
    border: none; */
    cursor: pointer;
}



.filters__item_active {
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.filters__item_checked {
    background-color: #f7f7f7;
}

.filters__item-name {
    position: absolute;
    top: 15px;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.filters__item-value {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.filters__item-name_checked {
    display: block;
}

.filters__item-value_active {
    position: absolute;
    top: 35px;
    color: #f14a58;
}



.filters__item-container {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 9999;
    display: none;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.filters__item-container_active {
    display: flex;
}

.filters__item-container input[type="radio"] {
    display: none;
}

.filters__item-container input[type="radio"]:checked+label {
    color: #f14a58;
    background-color: #f7f7f7;
}

.filters__list-item label {
    display: block;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}


.filters__list-item:hover {
    color: #f14a58;
    background-color: #f7f7f7;
}

.filters__item:hover {
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.filters__item:hover .filters__item-container {
    display: flex;
}

.filters__mobile-head {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.filters__mobile-head-item {
    position: relative;
    padding-right: 15px;
    font-size: 14px;
}

.filters__mobile-head-item_checked {
    color: #f14a58;
}

.filters__mobile-head-item::after {
    content: ',';
    position: absolute;
    right: 10px;
    top: 0;
    color: #000;
}

.filters__mobile-head-item:nth-child(6)::after {
    content: '';
}

.filters__mobile-head-btn {
    position: absolute;
    right: 0;
    z-index: 9999;
    width: 40px;
    height: 100%;
    background: url('../img/icons/select-list-icon.svg') no-repeat center center;
    cursor: pointer;
}

.filters__mobile-head-btn-close {
    background-image: url('../img/icons/menu-close-icon.svg');
}

@media (max-width: 1024px) {

    .filters__mobile-head {
        display: flex;
    }

    .filters__items-container {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        display: none;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
        background-color: #fff;
    }

    .filters__items-container_active {
        display: flex;
    }

    .filters__item {
        position: relative;
        height: 100%;
        flex: none;
        width: 33%;
        padding: 0;
        background: none;
    }

    .filters__item-container {
        position: relative;
        display: flex;
        width: 100%;
        margin-left: 30px;
        border: none;
        box-shadow: none;
        background: none;
    }

    .filters__item-name {
        position: relative;
        display: block;
        top: 0;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .filters__item-value {
        display: none;
    }

    .filters__item:hover {
        border: none;
        box-shadow: none;
    }

    .filters__list-item label {
        position: relative;
        padding: 0;
        margin-bottom: 20px;
        font-size: 14px;
        color: #a8a8a8;
    }

    .filters__list-item:last-child label {
        margin-bottom: 50px;
    }

    .filters__list-item label::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 50%;
        margin-top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #a8a8a8;
    }

    .filters__list-item:hover {
        color: #f14a58;
        background: none;
    }

    .filters__item-container input[type="radio"]:checked+label {
        color: #f14a58;
        background: none;
    }

    .filters__item-container input[type="radio"]:checked+label::before {
        background-color: #f14a58;
    }

    .filters__list-item:first-child input[type="radio"]:checked+label {
        color: #000;
    }

    .filters__list-item:first-child input[type="radio"]:checked+label::before {
        background-color: #000;
    }

    .header-and-navigation-container_filter_active::after {
        content: '';
        position: fixed;
        z-index: 9998;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3)
    }

}

@media (max-width: 620px) {
    .filters__item {
        width: 50%;
    }

    .filters__mobile-head-item {
        font-size: 13px;
        white-space: nowrap;
    }

    .filters__mobile-head {
        overflow: hidden;
    }

    .filters__mobile-head::after {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        height: 65px;
        width: 100px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%);
    }
}


/* ***************NEW ARRIVALS**************** */

.new-arrivals__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.new-arrivals__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1024px) {
    .new-arrivals__product-card:last-child {
        display: none;
    }
}

@media (max-width: 690px) {
    .new-arrivals__product-card:nth-child(3) {
        display: none;
    }
}


/* ****************SALE MESSAGE*************** */
.sale-message__container {
    padding-bottom: 80px;
}

.sale-message__title {
    font-size: 24px;
}

.sale-message__title_red {
    display: inline;
    color: #f14a58;
}

.sale-message__subtitle {
    margin-top: 15px;
    font-size: 16px;
}



/* *******************CATALOG************************ */
.catalog__container {
    padding-bottom: 100px;
}

.catalog__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.catalog__show-more-btn {
    margin: auto;
}



/* **********************BOTTOM BANNERS********************* */

.bottom-banners__container {
    display: flex;

    max-width: 100vw;
    height: 380px;
}

.bottom-banners__left-link,
.bottom-banners__center-link,
.bottom-banners__right-link {
    overflow: hidden;
    height: 100%;
}

.bottom-banners__left-link {
    flex: 2;
}

.bottom-banners__center-link,
.bottom-banners__right-link {
    flex: 1;
}

.bottom-banners__item {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    transition-property: transform;
}

.bottom-banners__discription {
    position: absolute;
    text-align: center;
}

.bottom-banners__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.bottom-banners__subtitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

.bottom-banners__left {
    /* flex: 2; */
    background-image: url(../img/banners/bottom-left.jpg);
}

.bottom-banners__left .bottom-banners__discription {

    top: 50px;
    right: 80px;
}

.bottom-banners__center {
    /* flex: 1; */
    background-image: url(../img/banners/bottom-centr.jpg);
}

.bottom-banners__center .bottom-banners__discription,
.bottom-banners__right .bottom-banners__discription {
    top: 260px;
    width: 100%;
}

.bottom-banners__center .bottom-banners__subtitle {
    font-family: 'Roboto';
    font-size: 14;
    font-weight: 400;
    font-style: normal;
}

.bottom-banners__right {
    /* flex: 1; */
    background-image: url(../img/banners/bottom-right.jpg);
}

.bottom-banners__right .bottom-banners__title {
    color: #f14a58;
}

.bottom-banners__right .bottom-banners__subtitle {
    color: #757575;
}

.bottom-banners__left-link:hover .bottom-banners__item,
.bottom-banners__center-link:hover .bottom-banners__item,
.bottom-banners__right-link:hover .bottom-banners__item {
    transform: scale(1.05);
}