/* @import url("normalize.css"); */
@import url("fonts.css");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #000000;
    /* font-size: 10px; */
}

@media (max-width:375px) {
    body {
        width: 375px;
        overflow-x: visible;
    }
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1180px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 690px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.section_line_available {
    position: relative;
    padding-bottom: 1px;
}

.section_line_available::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -1px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(229, 229, 229, 0) 2%, rgba(229, 229, 229, 1) 7%, rgba(229, 229, 229, 1) 50%, rgba(229, 229, 229, 1) 93%, rgba(229, 229, 229, 0) 98%);

}

@media (max-width: 1300px) {
    .section_line_available::before {
        background: rgb(229, 229, 229);
    }
}


.section-title {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.section-subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 40px;
    }
}

@media (max-width: 690px) {
    .section-title {
        font-size: 26px;
    }

    .section-subtitle {
        font-size: 14px;
    }
}


.product-card_new {
    position: relative;
}

.product-card_new::before {
    content: 'NEW';
    position: absolute;
    top: 15px;
    padding: 10px 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #f14a58;
}

.product-card__img {
    width: 240px;
    height: 340px;
}

.product-card__title,
.product-card__price {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
}

.product-card__title {
    margin-top: 50px;
    font-weight: 700;
}

.product-card__price {
    margin-top: 20px;
    font-weight: 400;
}

@media (max-width: 940px) {
    .product-card__img {
        width: 200px;
        height: 290px;
    }
}

@media (max-width: 690px) {
    .product-card__img {
        width: 160px;
        height: 220px;
    }

    .product-card__title {
        margin-top: 30px;
    }

    .product-card__price {
        margin-top: 15px;
    }

    .product-card__title,
    .product-card__price {
        font-size: 12px;
    }
}


/* ****************HEADER****************** */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 30px;
}

.header__logo,
.header__logo_mobile {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.header__logo_mobile {
    display: none;
}

.header__buttons {
    display: flex;
    align-items: flex-start;
}

.header__sing-up,
.header__bag-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header__bag {
    display: flex;
    align-items: flex-start;
    margin-left: 55px;
    text-decoration: none;
}

.header__bag-title {
    margin: 0;
    margin-left: 15px;
}

.header__mobile-menu-button {
    display: none;
    width: 14px;
    height: 12px;
    margin-left: 40px;
    background-image: url('../img/icons/menu-icon.svg');
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header__logo {
        font-size: 26px;
        line-height: 26px;
    }
}

@media (max-width: 690px) {
    .header {
        position: relative;
        padding-bottom: 1px;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 100%;
        margin-top: -1px;
        width: 100%;
        height: 1px;
        background: rgb(229, 229, 229);

    }

    .header__container {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header__logo {
        display: none;
    }

    .header__logo_mobile {
        display: block;
        font-size: 24px;
        line-height: 24px;
    }

    .header__sing-up {
        display: none;
    }

    .header__mobile-menu-button {
        display: block;
        cursor: pointer;
    }

    .header__mobile-menu-button_active {
        width: 15px;
        height: 15px;
        background-image: url('../img/icons/menu-close-icon.svg');
    }

}


/* ****************NAVIGATION****************** */

.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 15px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation__list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
    transition-property: color;
}

.navigation__list-item_active {
    color: #f14a58
}

.navigation__list-item:hover {
    color: #f14a58
}

.navigation__search {
    position: relative;
    margin-left: 110px;
}

.navigation__search-input {
    width: 120px;
    box-sizing: border-box;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.navigation__search-input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #a8a8a8;
}



.navigation__search-icon {
    position: absolute;
    top: 6px;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url('../img/icons/search-icon.png');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 940px) {
    .navigation__search {
        margin-left: 50px;
    }
}

@media (max-width: 840px) {
    .navigation__list-item {
        font-size: 12px;
    }

    .navigation__search-input {
        width: 0;
        transition: 0.3s;
        transition-property: width;
    }

    .navigation__search-input_mobile_active {
        position: absolute;
        right: 0;
        width: 250px;
    }

    .navigation__search_mobile_active::before {
        content: '';
        position: absolute;
        left: -280px;
        width: 30px;
        height: 30px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
    }
}

@media (max-width: 690px) {
    .header {
        z-index: 9999;
    }

    .navigation {
        visibility: hidden;
        padding-bottom: 0;
    }

    .navigation_mobile_active {
        visibility: visible;
        padding-bottom: 1px;
    }

    .navigation__container {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-property: height;
    }

    .navigation__container_mobile_active {
        width: 100vw;
        height: 100vh;
        padding-top: 25px;
        padding-bottom: 10px;
        visibility: visible;
        box-sizing: border-box;
    }

    .navigation__list,
    .navigation__container {
        flex-direction: column;
    }

    .navigation__container {
        justify-content: flex-start;
    }

    .navigation__list {
        justify-content: space-between;
        width: 50%;
        height: 60%;
        box-sizing: border-box;
    }

    .navigation__list-item {
        font-size: 24px;
    }

    .navigation__search {
        width: 50%;
        margin-top: 50px;
        margin-left: 0;
    }

    .navigation__search-input {
        width: 100%;
    }

}


/* *****************LINKS******************* */

.links__container {
    position: relative;
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
}

.links__container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
}

.links__left-block,
.links__right-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.links__quick-links,
.links__customer-care {
    width: 50%;
}

.links__block-title {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.links__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links__list li {
    margin-bottom: 25px;
}

.links__list li:last-child {
    margin: 0;
}

.links__list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.links__list-item:hover {
    border-bottom: 1px solid #000000;
}

.links__right-block {
    flex-direction: column;
}

.links__questions-and-number {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.links__questions,
.links__number {
    width: 50%;
}

.links__questions {
    padding-left: 60px;
}

.links__questions-title,
.links__number-title {
    margin-bottom: 20px;
}

.links__twitter-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.links__twitter-link-icon {
    width: 14px;
    height: 11px;
}

.links__twitter-link-text,
.links__number-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.links__twitter-link-text {
    margin: 0;
    margin-left: 10px;
}

.links__twitter-link-text strong {
    font-weight: 700;
}

.links__twitter-link:hover .links__twitter-link-text {
    color: #f14a58;
}

.links__delivery-info {
    max-width: 300px;
    padding-left: 60px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    color: #757575;
}

.links__socials {
    display: flex;
    margin-top: 45px;
    padding-left: 60px;
}

.links__socials-fb {
    margin-right: 20px;
}

.footer__links_mobile {
    display: none;
}

@media (max-width: 768px) {
    .links__container::before {
        display: none;
    }

    .links__left-block {
        flex: 2;
    }

    .links__right-block {
        flex: 1;
        justify-content: flex-start;
    }

    .links__questions-and-number {
        flex-direction: column;
    }

    .links__questions,
    .links__number {
        width: 100%;
    }

    .links__number {
        margin-top: 45px;
    }

    .links__questions,
    .links__socials {
        padding: 0;
    }

    .links__socials {
        margin-top: 90px;
    }

    .links__delivery-info {
        display: none;
    }
}

@media (max-width: 690px) {
    .links__container {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .links__left-block,
    .links__right-block {
        flex: initial;
        width: 100%;
    }

    .links__block-title {
        font-size: 14px;
    }

    .links__list-item {
        font-size: 12px;
    }

    .links__left-block {
        position: relative;
        padding-bottom: 60px;
    }

    .links__left-block::before {
        content: '';
        position: absolute;
        top: 100%;
        left: -20px;
        margin-top: -1px;
        width: 375px;
        height: 1px;
        background: rgba(229, 229, 229);

    }

    .links__questions-and-number {
        position: relative;
        flex-direction: row;
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .links__questions-and-number::before {
        content: '';
        position: absolute;
        top: 100%;
        left: -20px;
        margin-top: -1px;
        width: 375px;
        height: 1px;
        background: rgba(229, 229, 229);

    }

    .links__number {
        margin-top: 0;
    }

    .links__twitter-link-text,
    .links__number-link {
        font-size: 12px;
    }



    .links__delivery-info-and-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .links__socials {
        margin-top: 0;
    }

    .footer__links_mobile {
        display: flex;
        width: 70%;
    }

    .footer__links-list {
        margin: 0;
    }

    .footer__list-item {
        font-size: 10px;
    }

}



/* *****************FOOTER******************** */

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__info,
.footer__share,
.footer__links {
    flex: 1;
}

.footer__info,
.footer__list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.footer__share {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__share-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.footer__share-value {
    position: relative;
    margin-left: 10px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #f4f4f4;
}

.footer__share-value::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #f4f4f4;
    border-bottom: 6px solid transparent;
}

.footer__links-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
}


.footer__links-list li:first-child {
    margin: 0;
}

.footer__list-item {
    color: #000;
    text-decoration: none;
}

.footer__list-item:hover {
    border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
    .footer__share-title {
        font-size: 16px;
    }
}

@media (max-width: 690px) {
    .footer__links {
        display: none;
    }

    .footer__info {
        font-size: 10px;
    }

    .footer__share-title {
        font-size: 14px;
    }

    .footer__share-value {
        font-size: 10px;
    }

    .footer__info,
    .footer__share {
        flex: initial;
    }
}