.banners__container {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    height: 385px;
}

.banners__container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
    z-index: 9999;
}

.banners__left-banner-link,
.banners__right-banner-link {
    overflow: hidden;
    width: 50%;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

.banners__left-banner {
    background-image: url('../img/start-page/left-banner.png');
    background-position: center;

}

.banners__right-banner {
    background: url('../img/start-page/right-banner.png'), #f7f7f7;
    background-position: 40px -70px;

}

.banners__left-banner-link:hover .banners__left-banner,
.banners__right-banner-link:hover .banners__right-banner {
    transform: scale(1.05);
}

.banners__left-banner,
.banners__right-banner {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
    transition-property: transform;
}

.banners__banner-discription {
    position: absolute;
    top: 65px;
    right: 100px;
}

.banners__banner-title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.banners__banner-subtitle {
    margin: 0;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #757575;
    text-align: center;
}

@media (max-width: 1024px) {
    .banners__container {
        height: 230px;
        padding: 0;
    }

    .banners__left-banner {
        background-size: contain;
    }

    .banners__right-banner {
        background-size: 65%;
        background-position: 30px -60px;
    }

    .banners__banner-discription {
        top: 35px;
        right: 50px;
    }

    .banners__banner-title {
        font-size: 22px;
    }
}

@media (max-width: 690px) {
    .banners__left-banner-link {
        width: 100%;
    }

    .banners__right-banner-link,
    .banners__container::before {
        display: none;
    }

}

/* ******************BEST OFFER*********************** */

.best-offer__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.best-offer__title {
    margin-bottom: 30px;
}

.best-offer__subtitle {
    margin-bottom: 70px;
}

.best-offer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-offer__first-item,
.best-offer__second-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-offer__first-item-button-up,
.best-offer__second-item-button-up,
.best-offer__first-item-button-down,
.best-offer__second-item-button-down {
    width: 24px;
    height: 14px;
    background-image: url('../img/icons/arrow-up.png');
    cursor: pointer;
}

.best-offer__first-item-button-up,
.best-offer__second-item-button-up {
    margin-bottom: 40px;
}

.best-offer__first-item-button-down,
.best-offer__second-item-button-down {
    margin-top: 40px;
    transform: rotate(180deg);
}

.best-offer__plus,
.best-offer__equally {
    position: relative;
    top: -50px;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
}

.best-offer__equally_mobile {
    display: none;
}

.best-offer__result {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.best-offer__old-price {
    position: relative;
    left: -60px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #757575;
}

.best-offer__old-price::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #f14a58;
    transform: rotate(-30deg);
}

.best-offer__new-price {

    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 700;
}


.best-offer__add-to-bag-button_mobile {
    display: none;
}



@media (max-width: 940px) {

    .best-offer__plus,
    .best-offer__equally {
        font-size: 30px;
    }

    .best-offer__result {
        position: relative;
        top: 140px;

    }

    .best-offer__old-price {
        left: -40px;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .best-offer__old-price::before {
        width: 90px;
    }

    .best-offer__new-price {

        font-size: 30px;
    }


    .best-offer__add-to-bag-button_desktop {
        display: none;
    }

    .best-offer__add-to-bag-button_mobile {
        display: flex;
        margin: 75px auto 0;
    }
}

@media (max-width: 690px) {
    .best-offer__content {
        flex-wrap: wrap;
    }

    .best-offer__first-item-button-up,
    .best-offer__second-item-button-up {
        margin-bottom: 30px;
    }

    .best-offer__first-item-button-down,
    .best-offer__second-item-button-down {
        margin-top: 30px;
    }

    .best-offer__result {
        top: 0;
        width: 100%;
        margin-top: 40px;
    }

    .best-offer__old-price {
        left: 0;
    }

    .best-offer__equally {
        display: none;
    }



    .best-offer__new-price {
        position: relative;
        display: flex;
        margin-bottom: 0;
    }

    .best-offer__equally_mobile {
        position: absolute;
        top: 0;
        left: -25px;
        display: block;

    }

    .best-offer__new-price,
    .best-offer__equally_mobile,
    .best-offer__plus {
        font-size: 26px;
    }

    .best-offer__add-to-bag-button_mobile,
    .new-arrivals__all-arrivals-button {
        width: 220px;
        margin-top: 30px;
        font-size: 20px;
    }
}


/* *******************NEW ARRIVALS********************** */

.new-arrivals__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.new-arrivals__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 75px;
}

.new-arrivals__all-arrivals-button {
    margin-top: 0;
}

@media (max-width: 1024px) {
    .new-arrivals__product-card:last-child {
        display: none;
    }
}

@media (max-width: 690px) {
    .new-arrivals__product-card:nth-child(3) {
        display: none;
    }
}